name: CI/CD para EC2 pública e privada

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      # 2. Debug (opcional mas recomendável)
      - name: DEBUG - Mostrar diretórios
        run: |
          pwd
          ls -R .

      # 3. Configuração do Java/Maven
      - name: BE - Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      # 4. Criar pasta no servidor público
      - name: BE - Criar pasta backend no servidor público
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            mkdir -p /home/${{ secrets.REMOTE_USER }}/backend
            chown ${{ secrets.REMOTE_USER }} /home/${{ secrets.REMOTE_USER }}/backend || true

      # 5. Gerar JAR
      - name: BE - Gerar Artefato .JAR
        run: mvn package -DskipTests=true
        working-directory: ./servidor-web-clean-arch

      # 6. Renomear JAR
      - name: BE - Renomear JAR para app_loko.jar
        run: |
          JAR_NAME=$(ls target/*.jar)
          mv $JAR_NAME target/app_loko.jar
          echo "Renomeado para: target/app_loko.jar"
        working-directory: ./servidor-web-clean-arch

      # 7. Deploy para EC2 pública via rsync
      - name: BE - Copiar arquivos e Deploy
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/backend
          ARGS: "-rltgoDzvO --delete"
          SOURCE: "./servidor-web-clean-arch/target/app_loko.jar"

      # 8. Enviar jar da EC2 pública para a privada
      - name: BE - Executar Comando Shell na EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            ARQUIVO_PEM="/home/${{ secrets.REMOTE_USER }}/chavetmp.pem"
            rm -f $ARQUIVO_PEM
            echo "${{ secrets.EC2_SSH_KEY }}" > $ARQUIVO_PEM
            chmod 400 $ARQUIVO_PEM

            USUARIO_IP=${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST_PRIVADO }}

            # Enviar jar da pública para a privada
            scp -o StrictHostKeyChecking=no -i $ARQUIVO_PEM /home/${{ secrets.REMOTE_USER }}/backend/app_loko.jar $USUARIO_IP:/usr/share/api/app_loko.jar

            # Reiniciar serviço na privada
            ssh -i $ARQUIVO_PEM $USUARIO_IP 'sudo docker-compose restart api'

